<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assessment Decision Tool</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.9.0/css/uswds.min.css"
      integrity="sha512-wo5nlNcQ4YO3nlnHXelbf7SzlDqQ9/7IWOgojGxhDVJL7OE71tFwmxe0oIIX9xhEg6X/4Fonin1zns6EqbvO1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.9.0/js/uswds.min.js"
      integrity="sha512-knvajeM7J+9Z26Qyixt5bgFe2IyRT+z8L1iE3ClJ9mfORTnUhYk3PFlqlpbTd+IkHyQ7YXcY75v9QFoYJ2z7mw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="usa-section">
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div class="desktop:grid-col-3"></div>
            <div class="desktop:grid-col-9">
              <h1>Step 1: Indicate Your General Purpose</h1>

              <p class="usa-prose">
                Do you want to use the tool to find out more about a particular
                assessment method, or do you want to use the tool to develop an
                assessment strategy specific to your hiring situation?
              </p>
              <form :action="formAction" class="usa-form usa-form--large">
                <fieldset class="usa-fieldset margin-top-4">
                  <legend class="margin-top-0">I'd like to</legend>
                  <div
                    v-for="option in formOptions"
                    :key="option.value"
                    class="usa-radio"
                  >
                    <input
                      class="usa-radio__input usa-radio__input--tile"
                      type="radio"
                      name="choice"
                      :id="'choice-' + option.value"
                      :value="option.value"
                      v-model="formValues.choice"
                      required
                    />
                    <label
                      class="usa-radio__label"
                      :for="'choice-' + option.value"
                      >{{option.label}}</label
                    >
                  </div>
                </fieldset>
                <div class="display-flex">
                  <button type="submit" class="usa-button margin-left-auto">
                    Continue
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            formValues: {
              choice: null,
            },
            formOptions: [
              {
                label:
                  "Use the tool to develop an assessment strategy specific to my hiring situation",
                value: "develop",
              },
              {
                label: "Find out more about a particular assessment method",
                value: "learn",
              },
            ],
          };
        },
        computed: {
          formAction() {
            return this.formValues.choice === "develop"
              ? "/further-information"
              : "/assessment-method";
          },
        },
      }).mount("#app");
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.9.0/js/uswds-init.min.js"
      integrity="sha512-bXbQXDDedg6Yq2zDO+94e2vhkI3yDQd3Qj3VyGMa958ZudBTkluWOBuB+QXTGxzuaGY3Yd88zZ7IbG5iccGNeA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
