<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assessment Decision Tool</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.9.0/css/uswds.min.css"
      integrity="sha512-wo5nlNcQ4YO3nlnHXelbf7SzlDqQ9/7IWOgojGxhDVJL7OE71tFwmxe0oIIX9xhEg6X/4Fonin1zns6EqbvO1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.9.0/js/uswds.min.js"
      integrity="sha512-knvajeM7J+9Z26Qyixt5bgFe2IyRT+z8L1iE3ClJ9mfORTnUhYk3PFlqlpbTd+IkHyQ7YXcY75v9QFoYJ2z7mw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="usa-section">
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div class="desktop:grid-col-3"></div>
            <div class="desktop:grid-col-9">
              <h1>Step 2: Provide Further Information: Select Occupation</h1>

              <p class="usa-prose">
                OPM has conducted occupational studies covering the jobs listed
                below. Please use the list below to select your job of interest
                by occupational series title or number. If the occupation is not
                listed, you may return to the previous page to select
                competencies by occupational group.
              </p>
              <div class="display-flex flex-justify margin-top-4">
                <div>
                  <label class="usa-sr-only" for="example-input-prefix"
                    >Sort</label
                  >
                  <div class="usa-input-group margin-top-0">
                    <div class="usa-input-prefix" aria-hidden="true">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.5em"
                        height="1.5em"
                        viewBox="0 0 24 24"
                      >
                        <path
                          fill="currentColor"
                          d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"
                        />
                      </svg>
                    </div>
                    <input
                      id="example-input-prefix"
                      class="usa-input"
                      type="search"
                      v-model="search"
                      autocomplete="off"
                    />
                  </div>
                </div>
                <div class="display-flex flex-align-center">
                  <label
                    class="usa-label margin-top-0 margin-right-2"
                    for="sort"
                    style="flex-shrink: 0"
                    >Sort by:</label
                  >
                  <select
                    class="usa-select margin-top-0"
                    id="sort"
                    v-model="sortBy"
                  >
                    <option
                      v-for="(sortOption, key) in sortOptions"
                      :key="sortOption.code"
                      :value="key"
                    >
                      {{sortOption.label}}
                    </option>
                  </select>
                </div>
              </div>

              <div>
                <nav
                  aria-label="Pagination"
                  class="usa-pagination margin-top-6"
                >
                  <ul class="usa-pagination__list width-full">
                    <li
                      class="usa-pagination__item usa-pagination__arrow margin-left-0"
                      style="justify-content: flex-start"
                    >
                      <button
                        type="button"
                        class="usa-pagination__link usa-pagination__previous-page"
                        aria-label="Previous page"
                        @click="pagination.currentPage = pagination.currentPage - 1"
                        :disabled="pagination.currentPage === 1"
                      >
                        <svg
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill="currentColor"
                            d="m14 18l-6-6l6-6l1.4 1.4l-4.6 4.6l4.6 4.6z"
                          />
                        </svg>
                        <span class="usa-pagination__link-text">Previous</span>
                      </button>
                    </li>
                    <li
                      v-for="(page, idx) in visiblePages"
                      :key="idx"
                      class="usa-pagination__item"
                      :class="[page === '...' ? 'usa-pagination__overflow' : 'usa-pagination__page-no']"
                      style="max-width: 2.5rem"
                    >
                      <span v-if="page === '...'">...</span>
                      <button
                        v-else
                        type="button"
                        @click="pagination.currentPage = page"
                        class="usa-pagination__button"
                        :class="{ 'usa-current': page === pagination.currentPage }"
                        :aria-label="'Page ' + page"
                      >
                        {{ page }}
                      </button>
                    </li>
                    <li
                      class="usa-pagination__item usa-pagination__arrow margin-right-0"
                      style="justify-content: flex-end"
                    >
                      <button
                        type="button"
                        class="usa-pagination__link usa-pagination__next-page"
                        aria-label="Next page"
                        @click="pagination.currentPage = pagination.currentPage + 1"
                        :disabled="pagination.currentPage === totalPages"
                      >
                        <span class="usa-pagination__link-text">Next </span>
                        <svg
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill="currentColor"
                            d="M12.6 12L8 7.4L9.4 6l6 6l-6 6L8 16.6z"
                          />
                        </svg>
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>

              <form :action="formAction" class="margin-top-4">
                <table class="usa-table usa-table--borderless width-full">
                  <!-- <caption>
                    Select occupation
                  </caption> -->
                  <thead>
                    <tr>
                      <th style="width: 5%; min-width: 32px; border: 0"></th>
                      <th style="width: 20%">Occupation Number</th>
                      <th style="width: 75%">Occupation Title</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="occupation in paginatedList"
                      :key="occupation.code"
                      :aria-labelledby="'title-' + occupation.code"
                      style="cursor: pointer"
                      :style="{ backgroundColor: formValues.choice === String(occupation.code) ? '#e1f3f8' : 'white' }"
                      @click="formValues.choice = String(occupation.code)"
                    >
                      <td
                        style="
                          padding-left: 0;
                          border: 0;
                          background-color: transparent;
                        "
                      >
                        <div
                          class="usa-radio"
                          style="background-color: transparent"
                        >
                          <label style="pointer-events: none">
                            <input
                              class="usa-radio__input"
                              type="radio"
                              name="occupation"
                              :id="'occupation-' + occupation.code"
                              :value="occupation.code"
                              v-model="formValues.choice"
                              aria-label="Select"
                              :aria-labelledby="'title-' + occupation.code"
                              required
                            />
                            <div class="usa-radio__label"></div>
                          </label>
                        </div>
                      </td>
                      <td style="background-color: transparent">
                        {{occupation.code}}
                      </td>
                      <td
                        style="background-color: transparent"
                        :id="'title-' + occupation.code"
                      >
                        {{occupation.title}}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="display-flex">
                  <button type="submit" class="usa-button margin-left-auto">
                    Continue
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      const { createApp } = Vue;
      import occupationList from "../occupationList.json" with { type: "json" };

      createApp({
        data() {
          return {
            search: "",
            sortBy: 0,
            pagination: {
              perPage: 10,
              currentPage: 1
            },
            sortOptions: [
              {
                label: "Number (Asc)",
                sortKey: "code",
                sortDir: "asc",
              },
              {
                label: "Number (Desc)",
                sortKey: "code",
                sortDir: "desc",
              },
              {
                label: "Title (Asc)",
                sortKey: "title",
                sortDir: "asc",
              },
              {
                label: "Title (Desc)",
                sortKey: "title",
                sortDir: "desc",
              },
            ],
            formValues: {
              choice: null,
            },
            occupationList: occupationList
          };
        },
        watch: {
          search(){
            this.pagination.currentPage = 1
          }
        },
        computed: {
          visiblePages(){
            const pages = [];
            const currentPage = this.pagination.currentPage;
            const totalPages = this.totalPages;

            if(totalPages <= 7){
              for (let i = 1; i <= totalPages; i++) pages.push(i)
            }else{
              if(currentPage <= 4){
                for (let i = 1; i <= 5; i++) pages.push(i)
                pages.push('...')
                pages.push(totalPages)
              }else if(currentPage >= totalPages - 3){
                pages.push(1);
                pages.push('...');
                for (let i = totalPages - 4; i <= totalPages; i++) pages.push(i)
              }else{
                pages.push(1);
                pages.push('...');
                for (let i = currentPage - 1; i <= currentPage + 1; i++) pages.push(i)
                pages.push('...')
                pages.push(totalPages)
              }
            }

            return pages
          },
          totalPages(){
            return Math.ceil(this.filteredList.length / this.pagination.perPage)
          },
          paginatedList(){
            const start = (this.pagination.currentPage - 1) * this.pagination.perPage
            const end = start + this.pagination.perPage
            return this.filteredList.slice(start, end)
          },
          filteredList() {
            let lowerCaseSearch = this.search.toLowerCase();
            let sortChoice = this.sortOptions[this.sortBy];

            let listCopy = this.occupationList;

            if (this.search) {
              listCopy = listCopy.filter((occ) => {

                const codeString = String(occ.code)
                return (
                  codeString.includes(lowerCaseSearch) ||
                  occ.title.toLowerCase().includes(lowerCaseSearch)
                );
              });
            }
            return listCopy.sort((a, b) => {
              let valueA = a[sortChoice.sortKey];
              let valueB = b[sortChoice.sortKey];

              if (valueA < valueB) return sortChoice.sortDir === "asc" ? -1 : 1;
              if (valueA > valueB) return sortChoice.sortDir === "asc" ? 1 : -1;
              return 0;
            });
          },
          formAction() {
            return "./../competency-list";
          },
        },
      }).mount("#app");
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.9.0/js/uswds-init.min.js"
      integrity="sha512-bXbQXDDedg6Yq2zDO+94e2vhkI3yDQd3Qj3VyGMa958ZudBTkluWOBuB+QXTGxzuaGY3Yd88zZ7IbG5iccGNeA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
